// Colors

$primaryColor: var(--primary_color);
$secondaryColor: var(--secondary_color);
$tertiaryColor: var(--tertiary_color);
$fourthColor: var(--fourth_color);
$navColor: var(--nav_background_color);

$white: #fff;
$black: #000;
$grey: #585858;

// Fonts

$headlineFont: "Noto Sans", sans-serif;
$paragraphFont: "Noto Sans", sans-serif;

// Wrapper Width
$wrapper-width: 1250px;
